.tooltip {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0.5em;
  background: linear-gradient(transparent, rgba(0, 0, 0, .84));
  opacity: 0;
  transition: opacity .3s;
  color: #fff;

  &--top {
    top: 0;
    bottom: auto;
    background: linear-gradient(rgba(0, 0, 0, .84), transparent);
  }
}

